button {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    padding: var(--spacing3);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
    font-family: var(--font1);
    font-size: var(--font-size3);

    /* Button variants */
    &.primary {
        color: var(--color7);
        background-color: var(--color6);
        border: var(--color6);

        &:hover {
            background-color: var(--color8);
            border: var(--color8);
        }
    }

    &.delete {
        color: var(--red01);
    }

    &.fit-content {
        width: fit-content;
    }
}